<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/boostrap.min.css}">
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">Role</th>
        <th scope="col">Fullname</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <th scope="row" th:text="${user.username}"></th>
        <td th:text="${user.password}"></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.fullname}">@</td>
        <td>
            <a class="btn btn-info" th:if="${user.role == 'ADMIN'}">Delete</a>
            <a class="btn btn-info" th:if="${user.role == 'ADMIN'}">Update</a>
            <a class="btn btn-info" th:unless="${user.role == 'ADMIN'}">View</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>